    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        font-family: Arial, Helvetica, sans-serif;
    }

    html, body {
        width: 800px;
        height: 480px;
        background-color: #e6e6e6;
        overflow: hidden;
    }

    #app {
        width: 800px;
        height: 480px;
        display: flex;
        flex-direction: column;
    }

    header {
        height: 20px;
        background: linear-gradient(#1f4fa3, #163b7a);
        color: white;
        display: flex;
        align-items: center;
        padding: 0 16px;
        border-bottom: 3px solid #999;
    }

    header .title {
        margin-left: auto;
        font-weight: bold;
        font-size: 12px;
    }

    main {
        flex: 1;
        padding: 16px;
        background-color: #f2f2f2;
        overflow: hidden;
    }

    .card {
        font-size: 24px;
        background-color: white;
        border: 2px solid #999;
        padding: 12px;
        margin-bottom: 12px;
    }

    .card h2 {
        font-size: 24px;
        margin-bottom: 8px;
        border-bottom: 1px solid #ccc;
    }

    footer {
        height: 60px;
        background-color: #c0c0c0;
        font-size: 12px;
        display: flex;
        align-items: center;
        padding: 0 10px;
        border-top: 2px solid #999;
    }

    footer a {
    display: inline-block;
    margin-right: 8px;
    padding: 6px 14px;

    background: linear-gradient(#f5f5f5, #cfcfcf);
    border: 2px solid #888;
    border-radius: 4px;

    color: #000;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;

    box-shadow:
        inset 0 1px 0 rgba(255,255,255,0.8),
        0 1px 1px rgba(0,0,0,0.2);

    user-select: none;
    }

    #comms {
        margin-left: auto;
        font-weight: bold;
    }
    
    .hmi-button {
        padding: 10px;
        font-size: 16px;
        font-weight: bold;
    }
    .hmi-button:hover {
        background-color: #ddd;
        cursor: pointer;
    }