[Unit]
Description=RaspiPLC Flask UI
After=network.target raspiplc-shm-init.service
Requires=raspiplc-shm-init.service

[Service]
Type=simple
WorkingDirectory=/home/engineer/RaspiPLC/ui-flask
ExecStart=/home/engineer/RaspiPLC/ui-flask/venv/bin/python -u app.py
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target

