{% extends "base/base_tag_subscriber.html" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/local-hmi.css') }}">
{% endblock %}

{% block body %}
<div id="app">

    <header>
        <div class="title">Poor-manView 1000</div>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <a href="/">Status</a>
        <a href="/maintenance">Maintenance</a>
        <span id="comms">●</span>
    </footer>

</div>
{{ super() }}
{% endblock %}

