{% extends "base/base_tag_subscriber.html" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/local-hmi.css') }}">
{% endblock %}

{% block body %}
<div id="kiosk-root">
    <div id="app">

        <header>
            <div class="title">Poor-manView 1000</div>
        </header>

        <main id="content">
            {% block content %}{% endblock %}
        </main>

        <footer>
            <a href="/">Status</a>
            <a href="/temp-chart">Trend</a>
            <a href="/maintenance">Maintenance</a>
            <span id="comms">●</span>
        </footer>

    </div>
</div>
{{ super() }}
{% endblock %}

